*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  
  body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    ul {
      list-style-type: none;
      margin: 32px 0 0 0;
      padding: 0;
      width: 10%;
      background-color: white;
      height: 100%; /* Full height */
      position: fixed; /* Make it stick, even on scroll */
      overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
  
  .checkboxes {
    width: 20px; 
    height: 20px;
  }
  
  #bell:hover {
    color: green;
    animation: shake 1s linear 2;
    transform-origin: 50% 0;
    font-size: 28px;
  }
  
  @keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }
  
  .header {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      background-color: rgb(174, 167, 167);
      color: white;
    }
    
    .header-left {
      display: flex;
      gap: 20px;
      align-items: center;
      font-size: 26px;
    }
    
  
    .fa-user-circle-o {
      font-size: 40px;
      border-radius: 25px;
      border: 2px solid green;
  
    }
    h2{
      margin-left: 20px;
    }
  
  
    /*Pagging*/
    .page_numbers {
      margin: 0 auto;
      text-align: center;
      margin-top: 3rem;  
  }
    .page_numbers a {
      color: black;
      padding: 8px 16px;
      text-decoration: none;
      border: 1px solid rgb(220, 220, 220);
        
  }
  
  
    .main {
      display: flex;
    }
  
  
    .item:link {
      text-decoration: none;
      font-size: 24px;
    }
  
    .item:hover {
      font-weight: 700;
    }
  
    .item {
      color:black
      
    }
    
    .nav {
      min-width: 160px;
      padding: 10px 2px 10px 10px;
      text-decoration: none;
      font-size: 26px;
    }
  
    .nav ul {
      font-size: 26px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 2px;
      text-decoration: none;
      list-style-type: none;
      width: 150px;
    }
  
    /*Student table*/ 
    section.Grid {
      padding: 16px 0px;
      flex: 1; 
    }
    
    .students-table {
      margin-left: 20px;
    }
  
    .students-list {
      display: flex;
      flex-direction: column;
    }
  
    .students-table, td, th{
      border: 2px solid rgb(80, 80, 80);
      border-collapse: collapse;
      grid-gap: 2px;
    }
  
    .students-table td, th {
      text-align: center;
      padding: 10px;
    }
  
    .active-user {
      color: green;
      font-size: 20px;
    }
      
    .students-btn {
      align-self: flex-end;
      background-color: rgb(180, 180, 180);
      padding: 8px 16px;
      color: white;
      font-size: 20px;
      border: none;
    }
    
    .students-btn:hover, .edit-student-btn:hover, .delete-student-btn:hover {
      background-color: rgb(80, 80, 80);
      transform: scale(1.1);
    }
    .edit-student-btn, .delete-student-btn {
      align-self: flex-end;
      background-color: rgb(180, 180, 180);
      padding: 4px 8px;
      color: white;
      font-size: 10px;
      border: none;
    }
  
    /*New add form */
    .pop-up {
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background-color: transparent;
      z-index: 2;
      transform: translateY(-44.5%) scale(0);
      transition: 1.4s ease-in-out;
  }
  
  .pop-up.active {
      transform: translateY(0%) scale(100%);
      background-color: rgba(0, 0, 0, .8)
  }
  
  .pop-up-body h3 {
    margin-top: 20px;
    padding-left: 15px;
    font-size: 24px;
  }
  
  
  .pop-up-container {
      display: flex;
      width: 100%;
      height: 100%;
  }
  
  .pop-up-body {
    border: 1px solid black;
    margin: auto;
    width: 500px;
    height: 380px;
    background-color: white;
    border-radius: 10px;
    padding: 15px 0 25px;
    position: relative;
  }
  
  .pop-up-body input:focus {
      outline: none;
  }
  
  .pop-up-close {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
  }
  form hr {
    margin-top: 50px;
  }
  
  .bottom-buttons-div {
    float:right;
    margin-right: 25px;
  }
  
  /* .bottom-buttons-div {
    margin-left: 25px;
  } */
  
  .close-btn, .ok-btn, .create-btn, .cancel-btn {
    padding: 5px 10px 5px;
    align-self: flex-end;
    background-color: rgb(180, 180, 180);
    color: white;
    font-size: 20px;
    border: none;
  }
  
  .close-btn:hover, .ok-btn:hover, .create-btn:hover, .cancel-btn:hover {
    background-color: rgb(80, 80, 80);
    transform: scale(1.05);
  }
  
  .select {
      cursor: pointer;
      appearance: none;
      padding-right: 30px;
      font-size: 18px;
  }
  .studentsTable h1 {
    text-align: left;
  }
  
  .select:focus, 
  .select:hover {
      outline: none;
  }
  input[type = submit] {
    padding: 5px 10px 5px;
    align-self: flex-end;
    background-color: rgb(180, 180, 180);
    color: white;
    font-size: 20px;
    border: none;
  }
  
  .student-form label {
    display: inline-block;
    padding-left: 50px;
    font-size: 18px;
    margin: 0.2cm;
    width: 140px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .student-form input {
    font-size: 18px;
  }
  
  .student-form {
    padding-top: 10px;
    width: 100%;
  }
  /* Delete student*/
  #pop-up-delete-student {
    height: 250px;
  }
   
  #delete-student-p{
    padding: 40px 20px;
    font-size: 20px;
  }
  
  .buttons-div {
    float: right;
    margin-right: 25px;
    padding: 10px;
  }
  
  /*Submenu*/
  
  .user {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .user .sub-menu-btn{
    font-size: 24px;
    border: none;
    outline: none;
    padding: 14px 16px;
    margin: 0;
    color: white;
    background-color: rgb(174, 167, 167);
  }
  .sub-menu{
    display: none;
    position: absolute;
    background-color: rgb(174, 167, 167);
    min-width: 180px;
    z-index: 1;
    padding: 20px 0px 0px;
  }
  .sub-menu a{
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .sub-menu a:hover{
    font-weight: 700;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  }
  .user:hover .sub-menu{
    display: block;
  }
  
  
  td button {
    text-align: center;
    max-height: 45px;
  }
  
    .header-nav2 .header-title{
    font-size: 30px;
    font-weight: 700;
    border: none;
    outline: none;
    padding: 14px 16px;
    margin: 0;
    color: white;
    background-color: rgb(174, 167, 167);
   }
  
   .nav2{
    display: none;
    position: absolute;
    background-color: rgb(174, 167, 167);
    min-width: 180px;
    z-index: 1;
    padding: 20px 0px 0px;
  }
  
  .nav2 a{
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 24px;
  }
  .fa-caret-down{
    display: none;
  }
  
  
  @media screen and (max-width: 740px){
    td button {
        padding: 1px;
    }
  }
  
  @media screen and (max-width: 660px){
    .student-table{
        max-width: 660px;
        margin: 0 auto;
        align-items: center;
    }
  
    .nav{
        display: none;
    }
  
    .nav2 a:hover{
      font-weight: 700;
      /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    }
    
    .header-nav2:hover .nav2{
      display: block;
    }
  
    .students-table {
        max-width: 300px;
    }
  
    #add-student-btn {
        padding: 10px;
        margin-bottom: 2px!important;
    }
    .fa-caret-down{
      display:block;
      float: right;
    }
  
  
  }